.title-service{
    margin-bottom: 50px;
}

.title-service p{
    color: #858a99;
}
.carousel-indicators{
    margin: 0;
}

.control-slide-service{
    display: flex;
    color: black;
    text-decoration: none;
}

.control-slide-service:visited{
    color: black;
    text-decoration: none;
}

.control-slide-service:hover{
    color: black;
    text-decoration: none;
}
.control-slide-service div p{
    color: #858a99;
    margin-bottom: 0;
}

.cotrol-slide-awesome .active {
    background-color: rgb(31, 30, 30);
}

.cotrol-slide-awesome .active div {
    color: white;
}
.media{
    padding: 10px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: white;
    
}

.cotrol-slide-awesome{
    display: flex;
    flex-direction: column;
    position: unset;
}

.control-slide-service img{
    width:10%;
}

.control-size{
    margin-bottom: 15px;
}
